h1 {
  position: relative;
  font-size: 3rem;
  text-align: center;
  -webkit-text-fill-color: rgb(175, 78, 78);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(58, 12, 12);
}

.board__container {
  position: relative;
  margin: 0 auto;
  background-color: rgb(170, 140, 118);
  box-sizing: content-box;
  border: 3px solid black;
  height: fit-content;
  width: fit-content;
  padding: 25px;
}

.cell {
  --size: 40px;
  position: relative;
  font-size: 1.75rem;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(192, 174, 140);
  border: 1px solid black;
  height: var(--size);
  width: var(--size);
  margin: 1px 1px;
  cursor: pointer;
  overflow: hidden;
}

.even {
  background-color: rgb(168, 149, 112);
}

.selected {
  background: rgb(230, 203, 154);
}

.light {
  background-color: gold;
}
